*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}


body 
{
    background: linear-gradient(#4090CE, #FDEBBF);
}

.uni
{
    width: 80px;
} 

/* for navigation*/
 .header
{
   box-shadow: 2px 2px 5px rgb(53, 53,53);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 10%;
   padding: 25px 35px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   z-index: 100;
   backdrop-filter: blur(50px);
}
.navbar a
{
    position: relative;
    font-size: 15px;
    color: white;
    font-weight: light;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before
{
 content:'';
 position: absolute;
 top: 100%;
 left: 0;
 width: 0;   
 height: 2px;
 background: white;
 transition: .3s;   
}
.navbar a:hover:before
{
width: 100%;
}   
.navbar a.active::before
{
    width: 100%;
}
header .search-box{
    flex: 0.5;
    position: relative;
}
/* search bar*/
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    border-radius: 30px;
    color: gray;
    font-size: 13px;
    text-align: center;
}

.search-box button{
    cursor:pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #202C4A;
}

/* for table and universities*/
.tbl_2
{
    width: 85%;
    margin-top: 5%;
    margin-left: 7.5%;
}


.tbl_2 .univ
{
    display: block;
    height: 250px;
    width: 250px;
    text-align: center;
    background-size: cover;
    border-radius: 30px; 
    margin-top: 10%;
    margin-bottom: 30%;
    transition: .3s ease;
    background-color: cover;
    cursor: pointer;
}
.univ img{
    height: 250px;
    width: 250px;
}
.univ_2 p
{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(253, 255, 248);
    font-weight: bold;
}

.univ:hover
{
    filter: drop-shadow(2px 2px 2px rgb(74, 74, 74));
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);

   
}

.hovered {
    display: none;
    position: relative;
    border-radius: 50%;
    
   
}
.univ:hover .normal {
    display: none;
}

.univ:hover .hovered {
    opacity: 100%;
    display: inline-block;
}

.univ_2
{
    height: 10%;
    width: 100%;
    padding: 20;
}

 .footer{
    width: 100%;
    margin-top: 100px;
    height: 35%;
    background-color: #D9D9D9;
    
    text-align: center; 
    box-shadow: 2px 2px 10px 2px rgb(70, 70, 70);
}

.icons{
    padding-top: 90px;
    padding-bottom: 20px;
    display: block;
    border-bottom: solid 2px;
    border-color: #3838385d;
    margin-left: 150px;
    margin-right: 150px;
    
}

.icons a{
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    
    
}
.icons a img{
    width: 30px; 
    transition: .3s ease;
}

.icons a img:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

.credit{
    padding-top: 20px;
    display: block;
    font-size: 10px;
}

/* moving picture */
.pictures{
    margin-top: 2%;
    width: 100%;
    height: 512px;
    animation: movingPictures 15s infinite;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.container2{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 2px rgb(24, 24, 24);
    
}
.container2 h1{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
}
.container2 p{
    font-size: 20px;
    font-weight: 200;
}
.container2 button{
    margin: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: solid 1px;
    width: 40%;
    height: 50px;
}

@keyframes movingPictures {
    0% {
        background-image: url(/mvp/assets/animation/adam-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    6% {
        background-image: url(/mvp/assets/animation/admu-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    12% {
        background-image: url(/mvp/assets/animation/dlsu-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    20% {
        background-image: url(/mvp/assets/animation/feu-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    30% {
        background-image: url(/mvp/assets/animation/lup-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    40% {
        background-image: url(/mvp/assets/animation/mapua-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }  
    50% {
        background-image: url(/mvp/assets/animation/nu-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    60% {
        background-image: url(/mvp/assets/animation/pup-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    70% {
        background-image: url(/mvp/assets/animation/sb-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    80% {
        background-image: url(/mvp/assets/animation/ue-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    90% {
        background-image: url(/mvp/assets/animation/up-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100% {
        background-image: url(/mvp/assets/animation/ust-build.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}