*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


body 
{

    background: linear-gradient(#4090CE, #FDEBBF);
}

.uni
{
    width: 80px;
} 

 .header
{
   box-shadow: 2px 2px 5px rgb(53, 53,53);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   z-index: 100;
  
   

}

html
{
    min-height: 100%;
}

.navbar a
{
    position: relative;
    font-size: 15px;
    color: white;
    font-weight: light;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before
{
 content:'';
 position: absolute;
 top: 100%;
 left: 0;
 width: 0;   
 height: 2px;
 background: white;
 transition: .3s;   
}
.navbar a:hover:before
{
width: 100%;
}   
.navbar a.active::before
{
    width: 100%;
}
header .search-box{
    flex: 0.5;
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    border-radius: 30px;
    color: gray;
    font-size: 13px;
    text-align: center;
}

.search-box button{
    cursor:pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #202C4A;
}

.table
{
    margin-top: 10%;
    width: 80%;
    text-align: left;
    margin-left: 10%;
}

.txt_1
{
    width: 50%;
    font-size: 90;
    font-weight: bold;
    background-image: linear-gradient(-90deg, #6A8AFC, #001355 45%, #001355 70%);
    background-clip: text;
    color: transparent; 
}

.txt_2
{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    color:#001355;
}

.btn_1
{
    margin-top: 50px;
    width: 30%;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #001355;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400px;
    box-shadow: 2px 2px 2px rgb(36,35,35);
    cursor: pointer;
}

.btn_1:hover
{
    background: rgb(255, 255, 255);
    color:#001355;
    font-weight: 600;
}
.img_1
{
    text-align: right;
    filter: drop-shadow(3px 3px 2px rgb(73, 72, 72));
}

.abt_1
{
    color: white;
    background-color: #001355;
    width: 100%;
    height: 300px;
    margin-top: 5%;
}

.abt_2
{
    margin-left: 10%;
    padding-top: 3.5%;
    margin-right: 10%;
}

.abt_2 span
{
    font-weight: bold;
    font-size: 35px;
}

.abt_2 p
{
  text-align: justify;
}

.tbl_2
{
    width: 85%;
    margin-top: 3.5%;
    margin-left: 7.5%;
}


.tbl_2 .univ
{
    box-shadow: 4px 4px 5px rgb(53, 53,53);
    background: #001355;
    display: flex;
    height: 350px;
    width: 300px;
    background-image: url(/assets/home/up.jpg);
    background-size: contain;
    border-radius: 30px; 
    overflow: hidden;
    text-align: left;
    margin-top: 20%;
    transition: .3s ease;
    background-color: cover;
    cursor: pointer;
    
}
.univ:hover
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.univ_2
{
    background: #001355;
    height: 50%;
    width: 100%;
    margin-top: 70%;
    padding: 20;

}
.tbl_2 .univ .univ_2 p:nth-child(1)
{
    color: white;
    font-weight: bold;
    text-align: left;
}.tbl_2 .univ .univ_2 p:nth-child(2)
{
    color: white;
    font-weight: light;
    text-align: left;
    font-size: 14px
}
.tbl_2 .univ .univ_2 p:nth-child(3)
{
    color: white;
    font-weight: light;
    text-align: left;
    font-size: 14px
}
.tbl_2 .univ .univ_2 p:nth-child(4)
{
    color: white;
    font-weight: light;
    text-align: left;
    font-size: 14px
}
.robot{
    position: fixed;
    width: 100px;
    height: 100px; 
    background-color: rgb(100, 100, 100);
    display: flex;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(24, 24, 24);
    justify-content: center;
    align-items: center;
}
